* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(/assets/bg.svg);
  background-position-x: center;
  background-position-y: 55%;
  background-repeat: no-repeat;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app{
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  animation: appear 1.75s forwards;
}

header img{
  transition: transform 0.25s;
}

header img:hover{
  transform: scale(1.1);
}

#cards{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  border-bottom: 2px solid #f7dd43;
  background-color: #1D1C19;
  animation: appear 2s forwards;
}

.card h2 {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  border: 1px solid #746615;
  border-radius: 6px;
  padding: 8px 16px;
  margin-inline: auto;
  margin-bottom: 50px;
  color: #f7dd43;
  transition: transform 0.25s;
}

.card h2:hover{
  transform: scale(1.1);
}

.card h2 span {
  color: #E1E1E6;
  font-size: 16px;
  text-transform: uppercase;

}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li img:hover, .card ul li strong:hover{
  transform: scale(1.1);
}

.card ul li img, .card ul li strong{
  transition: transform 0.25s;
}

.card ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong{
  font-size: 36px;
  font-weight: 900;
  color: #E1E1E6;
  line-height: 125%;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}

aside {
  background-color: #1D1C19;
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 5px auto;
  border-bottom: 2px solid #f7dd43;
}

aside form{
  color:#f7dd43;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

aside form h3{
  font-size: 24px;
  padding: 10px;
}

aside form + form{
  margin-top: 10px;
  border-top: 1px solid #323238;
}

aside form input{
  width: 150px;
  background: none;
  padding: 2px;
  border: 1px solid #f7dd43;
  border-radius: 6px;
  color: #f7dd43;
}

aside form label{
  font-size: 14px;
}

aside button {
  margin: 15px 0px;
  background-color: #f7dd43;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px;
  color: #1D1C19;
  cursor: pointer;
}

aside button:hover{
  transform: scale(1.025);
}